<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div ng-controller="controller_blog" class="wrapper">

	<header class="header_wrapper" >
		<div class="header_left_block">
			<a href="#/"><img class="logo_header" src="./pictures/logobowery-blue.png"></img></a>
			<a href="#/"><div class="logo_title">312 Bowery in Paris</div> </a>
		</div>
		<div class="header_right_block">
			<a href="#/williambuchina"><p class="artist_name">William Buchina</p></a>
			<a href="#/collinkillian"><p class="artist_name">Collin Killian</p></a>
			<a href="#/samuelstabler"><p class="artist_name">Samuel Stabler</p></a>
		</div>
		
	</header>

	<div class="mobile_menu">
	
		<div class="menu_header_top"><a href="#/"><img class="menu_mobile_logo" src="pictures/logobowery-white.png"></div></a>
		<div class="menu_header_top_bg"></div>
		
		<div ng-class="classmenu" class="mobile_menu_list">
			<a href="#/" class="menu_element_link"><div class="mobile_menu_element" ng-click="">HOME</div></a>
			<a href="#/williambuchina" class="menu_element_link"><div class="mobile_menu_element" ng-click="">WILLIAM BUCHINA</div></a>
			<a href="#/collinkillian" class="menu_element_link"><div class="mobile_menu_element" ng-click="">COLIN KILIAN</div></a>
			<a href="#/samuelstabler" class="menu_element_link"><div class="mobile_menu_element" ng-click="">SAMUEL STABLER</div></a>
		</div>
		
		<div id="hamburger" ng-click="hidemenu(); crosshamburger();">
		  <span ng-class="classbar1"></span>
		  <span ng-class="classbar2"></span>
		  <span ng-class="classbar3"></span>
		  <span ng-class="classbar4"></span>
		</div>
	
	</div>

	<div class="background_img_container">
		<im
		<p class="title_home">312 Bowery, in Paris<br></p>
		<p class="subtitle_home">March 26, 2016</p>
	</div>

</div>